.outerContainer {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .textContainer {
    flex-direction: column;
    margin-left: 100px;
    color: white;
    height: 60%;
    justify-content: space-between;
  }


  
  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  

  }
  
  @media (min-width: 480px) and (max-width: 1200px) {

  }
 