.mt-20 {
    margin-top: 10px !important;
}

li.register {
    list-style: none;
    font-style: oblique;
    font-size: small;
}

button.mt-20::after {
    content: "";
    clear: both;
    display: table;
  }

