.mt-20 {
    margin-top: 10px !important;
}
.loginContainer{
    padding: 0.01em 16px;
}
.loginInputContainer{

}

button.button.mt-20 {
    float: right;
}

button.mt-20::after {
    content: "";
    clear: both;
    display: table;
  }